<div id="app">
</div>

<!-- <p>Hello from the Events Index Page</p>

<% @events.each do |event| %>
  <h3><%= event.name %></h3>
  <p><%= event.location %></p>
  <p><%= event.date %></p>
  <p><%= event.start_time %></p>
  <p><%= event.cost %></p>
  <p><%= event.website %></p>
  <br><br>
<% end %> -->
