<div class="grid-container">
<div class="grid-x">
<div class="cell">
  <br />
  <br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "callout form center", id: "signup-form" }) do |f| %>

  <h2 class="text1 weight7">Log In</h2>

  <div>
    <%= f.label :email, class: "weight3 text4" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rails-field" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "weight3 text4" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "button expand radius" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

</div>
</div>
</div>
